.opinionbody {
	width: 100%;
	display: table;
}

.opinionbody .opiniontop {
	width: 100%;
	height: 60px;
	border-bottom: solid 1px #b3b3b3;
	background-color: #f9f9f9;
}

.opinionbody .opiniontop p {
	line-height: 60px;
	text-align: center;
	font-size: 1.3em;
}

.opinionbody .opinionform {
	display: table;
	width: 94%;
	margin-left: 3%;
	padding-top: 30px;
}

.opinionbody .opinionform .opinionselect {
	width: 100%;
	height: 45px;
	position: relative;
}

.opinionbody .opinionform .opinionselect select {
	width: 100%;
	height: 100%;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: solid 1px #f0f0f0;
	background-color: #f9f9f9;
	padding: 0 45px 0 15px;
	font-size: 1em;
	border-radius: 5px;
	color: #999999;
}

.opinionbody .opinionform .opinionselect:after {
	content: "";
	display: inline-block;
	width: 15px;
	height: 100%;
	background: url(../img/ico/selectico1.png) no-repeat center center;
	position: absolute;
	right: 15px;
	background-size: 100% auto;
}

.opinionbody .opinionform .txtremark {
	width: 100%;
	height: 100px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 5px;
	border: solid 1px #f0f0f0;
	background-color: #f9f9f9;
	margin-top: 15px;
	font-size: 1em;
	color: #999999;
	padding: 10px 15px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.opinionbody .opinionform .txttel {
	width: 100%;
	height: 45px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 5px;
	border: solid 1px #f0f0f0;
	background-color: #f9f9f9;
	padding:0 15px ;
	font-size: 1em;
	color: #999;
	margin-top: 13px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}


.opinionbody .opinionbtn{width: 100%;height: 60px;position: fixed;bottom: 0;left: 0;}
.opinionbody .opinionbtn input{width: 100%;height: 100%;appearance: none;-webkit-appearance: none;-moz-appearance: none;border: none;background-color: #17b4bb;border-radius: 5px;color: #FFFFFF;font-size: 1.2em;}
