
/*****************后台首页样式*************************/
.contentBox{ padding: 20px; overflow: hidden;}
.indexUser{width: 100%; height: 32px; }
.indexUser li{float: left;line-height: 32px; font-size: 12px;}
.indexUser li:first-child img{height: 100%;}
.indexUser li:nth-child(2){margin-left: 10px; margin-right: 5px;color: #FF0000;font-weight: 600;}
.indexUser li:nth-child(5){font-weight: 500;}
.indexUser li:last-child{margin-left: 15px;}
.indexUser li:last-child a{text-decoration: none;color: #00A4AC;}
.indexUser li:last-child a:hover{color: #FF0000;}
.loginTime{width: 100%; height: 32px;margin-top: 15px;}
.loginTime li{float: left;line-height: 32px; font-size: 12px;}
.loginTime li:first-child img{height: 100%;}
.loginTime li:nth-child(2){margin-left: 10px;}
.loginTime li:nth-child(3){margin: 0 3px; color: #FF0000;}
.loginTime li:nth-child(5){margin-left: 10px;margin-right: 2px;}
.loginTime li:nth-child(5) a{text-decoration: none;color: #00A4AC;}
.loginTime li:nth-child(5) a:hover{color: #FF0000;}
.indexLine{width: 100%; height: 1px; background-color: #DFE9EE; margin-top: 25px;}