*{margin: 0;padding: 0;}


label,input,button,select,textarea
{
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
}


input,button,select,textarea{
	font-family: "Helvetica Neue",helvetica ,arial,sans-serif;
}

label{
	display: block;
	margin-bottom: 5px;
}


select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input{
	display: inline-block;
	height: 25px;
	padding: 4px;
	margin-bottom: 9px;
	font-size: 13px;
	line-height: 25px;color: #555;
	
}


input,textarea
{
	width: 210px;
}

textarea{height: auto;}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input{
	
	background-color: #FFFFFF;
	border: solid 1px #CCCCCC;
	border-radius: 0px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s,box-shadow linear 0.2s;
	-o-transition:border linear 0.2s,box-shadow linear 0.2s;
	transition:border linear 0.2s;box-shadow linear 0.2;
}


/*表单元素获得焦点效果*/

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus{	
	border-color: rgba(82,168,236,0.8);
	outline: 0;
	outline: thin dotted \9;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
}

input[type="radio"],
input[type="checkbox"]{	
	margin: 3px 0;
	*margin-top: 3px;
	line-height: normal;
	cursor: pointer;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"]{
	width: auto;
}

select,
input[type="file"]{
	
	height: 35px;
	*margin-top: 4px;
	line-height: 35px;
}

select{
	width: 200px;
	border:  solid 1px #bbb;
}

select[multiple],
select[size]{
	height: auto;
}


/*表单中下拉选择框，文件控件，单选按钮、复选按钮获取的焦点*/
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus{
	outline: thin dotted #333333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.radio,
.checkbox{
	display: inline-block;
	min-height: 18px;
	padding-left: 18px;
	margin-right: 5px;
	padding-right:10px;
}


.radio input[type="radio"],
.checkbox input[type="checkbox"]{
	float: left;
	margin-left: -18px;
	
}

.controls > .radio:first-child,
.controls > .checkbox:first-child{
	padding-top: 12px;
}

.radio.inline,
.checkbox.inline{
	display: inline-block;
	padding-top: 5px;
	vertical-align: middle;	
}


input,
textarea,
.uneditable-input{
	margin-left: 0px;
}

/*禁用的input、select、textarea表单元素效果*/
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly]{
	cursor: not-allowed;
	background-color: #EEEEEE;
	border-color: #ddd;
}
/*禁用的单选按钮和复选按钮效果*/
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly]{	
	background-color: transparent;
}

.control-group.warning > label,
.control-group.warning .help-block,
.control-group.warning .help-inline{
	color: #c09853;
}

/*表单警告状态下的效果*/
.control-group.warning .checkbox,
.control-group.warning .radio,
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea{	
	color: #c09853;
	border-color: #C09853;
}

/*表单警告状态下并获得焦点下效果*/
.control-group.warning .checkbox:focus,
.control-group.warning .radio:focus,
.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus{	
	color: #a47e3c;
	box-shadow:0 0 6px #dbc59e
}



.control-group.error > label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #b94a48;
}
/*表单错误状态下效果*/
.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error section,
.control-group.error textarea{
	color: #b94a48;
	border-color: #b94a48;
}

/*表单错误状态下且获得焦点效果*/
.control-group.error .checkbox:focus,
.control-group.error .radio:focus,
.control-group.error input:focus,
.control-group.error section:focus,
.control-group.error textarea:focus{
	border-color: #953b39;
	box-shadow: 0 0 6px #d59392;
}

.control-group.success > label,
.control-group.success .help-block,
.control-group.success .help-inline {
  color: #468847;
}
/*表单正确状态下效果*/
.control-group.success .checkbox,
.control-group.success .radio,
.control-group.success input,
.control-group.success section,
.control-group.success textarea{
	color: #468847;
	border-color: #468847;
}

/*表单正确状态下且获得焦点效果*/
.control-group.success .checkbox:focus,
.control-group.success .radio:focus,
.control-group.success input:focus,
.control-group.success section:focus,
.control-group.success textarea:focus{
	border-color: #356635;
	box-shadow: 0 0 6px #7aba7b;
}

input:focus:required:invalid:focus,
textarea:focus:required:invalid:focus,
select:focus:required:invalid:focus {
  border-color: #e9322d;
  box-shadow: 0 0 6px #f8b9b7;
}

.form-actions{
	/*padding: 17px 20px 18px;*/
	margin-top: 18px;
	margin-bottom: 18px;
	/*background-color: #f5f5f5;
	border-top: solid 1px #E5E5E5;*/
	*zoom:1;
}

.form-actions:before,
.form-actions:after{
	display: table;
	content: "";
}

.form-actions:after{
	clear: both;
}

.uneditable-input{
	overflow: hidden;
	white-space: nowrap;
	cursor: not-allowed;
	/*background-color: #FFFFFF;
	border-color: #EEEEEE;*/
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.025);
}

:-moz-placeholder{
	color: #999999
}
:-ms-input-placeholder{
	color: #999999;
}
::-webkit-input-placeholder{
	color: #999999;
}

.help-block,
.help-inline{
	color: #555;
}

.help-inline{
	font-size: 13px;
	display: inline-block;
	*display: inline;
	padding-left: 5px;
	vertical-align: middle;
	*zoom: 1;
}

.form-horizontal input,
.form-horizontal textarea,
.form-horizontal select,
.form-horizontal .help-inline{
	display: inline-block;
	*display: inline;
	*zoom:1;
}


.control-group{
	margin-bottom: 10px;
    display:table;
}


.form-horizontal .control-group:after,
.form-horizontal .control-group:before{
	display: none;
	content: "";
}
.form-horizontal .control-label:after{
	clear: both;
}

.form-horizontal .control-label{
	float: left;
	padding-top: 12px;
	text-align: right;
}

.form-horizontal .controls{
	*display: inline-block;
	*padding-left: 20px;
	margin-left: 80px;
	*margin-left: 0;
}

.form-horizontal .controls:first-child{
	*padding-left: 70px;
}


.form-horizontal .help-block{
	margin-left: 9px;margin-bottom: 0;
}

.form-horizontal .form-actions{
	padding-left: 70px;
}



.btn{
	display: inline-block;
	*border-left: 0 none #e6e6e6;
    border-right: 0 none #e6e6e6;
    border-top: 0 none #e6e6e6;
    border-bottom: 0 none #b3b3b3;
    display: inline;
	padding: 6px 15px 6px;
	*margin-left: .3em;
	font-size: 13px;
	line-height: 18px;
	*line-height: 20px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #F5F5F5;
	*background-color: #e6e6e6;
	background-repeat: repeat-x;
	*zoom: 1;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.051);
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);*
}



.btn:hover,
.btn.active,
.btn:active,
.btn:disabled,
.btn[disabled]{	
	background-color: #E6E6E6;
	*background-color: #d9d9d9;
}

.btn:active,
.btn.active{
	background-color: #CCCCCC \9; 
}

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}


.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}


.error {
color:#b94a48;
}


.success {
color:#468847;
}
















